# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/


# ---------------------------
# Media / Storage
# ---------------------------
uploads/
videos/
images/
media_moderation/

# ---------------------------
# Secrets
# ---------------------------
test.py
